@use "@/index.scss" as *;

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .scheduleWrapper {
    position: relative;

    .scheduleContainer {
      padding: 68px 80px;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 711px;

        p {
          color: $content-secondary;
        }
      }

      .scheduleList {
        margin-top: 32px;

        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }

    .scheduling {
      position: absolute;
      right: -200px;
      bottom: 0;

      span {
        text-decoration: none;
        color: #050505;
      }
    }
  }
}
