@use "@/index.scss" as *;

.eveningContainer {
  width: 711px;
  min-height: 136px;
  border-radius: 10px;
  background-color: $bg-tertiary;

  .eveningTop {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #2e2c30;

    div {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    span {
      color: $content-secondary;
    }
  }

  .eveningBottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
